<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Sound Board</h1>
    <audio id="bruh" src="mp3/bruh.mp3" preload="auto"></audio>
    <button onclick="document.getElementById('bruh').play();" >
        <p>Bruh</p>
        <img src="images/button.png" width="100" height="100">
    </button>
    <audio id="bong" src="mp3/bong.mp3" preload="auto"></audio>
    <button onclick="document.getElementById('bong').play();" >
        <p>Bong</p>
        <img src="images/button.png" width="100" height="100">
    </button>
    <audio id="boom" src="mp3/vine_boom.mp3" preload="auto"></audio>
    <button onclick="document.getElementById('boom').play();" >
        <p>Boom</p>
        <img src="images/button.png" width="100" height="100">
    </button>
</body>
</html>